<!-- [value] will directly target the value of property and bind the value inside "" to it -->
<!-- <textarea rows="6" [value]="'Test'"></textarea>    Test as string-->
<!-- <textarea rows="6" [value]="newPost"></textarea> calling newPost variable -->
<!-- <textarea rows="6" [value]="newPost" #postInput></textarea> -->

<!-- COMBINE setting and reading the value: -->
<!-- ngModel is angular feature(called directive), instruction you place in html element
ngModel will listen to the  user input and emmit that data to us and also store new data in the text area and output it-->
<!-- We need to bind ngModel into a new property -->

<!-- mat-card => Create card look: -->
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel" />
      <!-- <mat-error *ngIf="postForm.getControl('title').invalid">Error</mat-error> OR: -->
      <mat-error *ngIf="title.invalid">PLEASE ENTER A POST TITLE!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">PLEASE ENTER A POST CONTENT!</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Save Post!
    </button>
  </form>
</mat-card>
